body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.tarjeta {
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.encabezado {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.cuerpo {
  padding: 70px;
  font-size: 16px;
  color: #333;
}

.pie {
  background-color: #bfbfbf;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
